@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colores */
  --rojo: #DA1641;
  --blanco: #F2F2F2;
  --gris: #A6A6A6;
  --gris-oscuro: #595959;
  --negro: #131211;

  /* Fuentes */
  --fuente-roboto: 'Roboto', sans-serif;
  --fuente-cardo: 'Cardo', serif;
}

.error-message {
  color: red;
  font-size: 0.875rem;
}

